<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="features1" tabindex="-1" role="dialog" aria-labelledby="features1-label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title uppercase" id="features1-label" >Найсучасніше обладнання</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <!--<h4>Найсучасніше обладнання</h4>-->
                    <p>
                        Лабораторія Public Lab використовує лише найсучасніше обладнання для отримання достовірних результатів: газовый хроматограф від Agilent Technologies моделі 7890B, термічний екстрактор M-CTE250, а також приставку Unity-xr.
                        Для кількісного визначення домішок у повітрі використовуються: Dräger x-am 5000 з сенсорами на неорганічні речовини; Dräger x-am 7000 з сенсорами на три десятка органічних сполук.
                        Автоматичний титратор для титриметричного аналізу TitroLine 5000 значно прискорює роботу за наявності великої серії зразків і значно знижує ймовірність помилки оператора.
                        SevenCompact pH/Ion від компанії Mettler Toledo застосовується для вимірювання pH, концентрації аніонів і катіонів у розчинах за допомогою іон-селективних електродів. Спектрофотометр Unico 2802 UV / VIS. вимірює оптичну щільність розчинів дуже широкого кола речовин.

                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default size50" data-dismiss="modal" style="background: none;">Закрити</button>
            </div>
        </div>
    </div>
</div>
