<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="features4" tabindex="-1" role="dialog" aria-labelledby="features4-label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title uppercase" id="features4-label" >Обгрунтована ціна послуг</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <!--<h4>Обгрунтована ціна послуг</h4>-->
                    <p>
                        Значна кількість замовлень на проведення аналізів, що обумовлено постійною співпрацею зі столичним оператором газорозподільних систем, а також діяльністю Public Lab у рамках соціальних моніторингових проектів

                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default size50" data-dismiss="modal" style="background: none;">Закрити</button>
            </div>
        </div>
    </div>
</div>
