<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="services4" tabindex="-1" role="dialog" aria-labelledby="services4-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="services4-label">АНАЛІЗ ЯКОСТІ ГАЗУ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <p>
                        Якість природного газу залежить від джерел його надходження та фіксується відповідністю фізико-хімічним показникам газу (вимогам нормативних документів). В Україні фізико-хімічні показники природного газу, що постачається споживачам, мають відповідати чинному стандарту ГОСТ 5542-87 “Газы горючие природные для промышленного и коммунально-бытового назначения. Технические условия”. Стандарт встановлює мінімально допустиме значення нижчої теплоти згоряння природного газу на рівні 7600 ккал/м3 (31,8 МДж/м3). Допустимий діапазон вищого числа Воббе регламентується від 9840 ккал/м3 (41,2 МДж/м3) до 13020 ккал/м3 (54,5 МДж/м3) з допустимим максимальним відхиленням від номінального значення ±5%.
                    </p>
                    <p>
                        Проте, цим стандартом не нормується вміст метану, азоту, водню чи важких вуглеводнів у природному газі. Основні вимоги зазначеного стандарту щодо фізико-хімічних показників природного газу відповідають нормам країн Європейського Союзу.
                    </p>
                    <p>
                        Також Кодексом газотранспортної системи, затвердженим постановою НКРЕКП від 30.09.15 №2493, встановлюються норми якості, фізико-хімічні показники та інші характеристики природного газу, що допускається до транспортування в газотранспортній системі.
                    </p>
                    <p>
                        Лабораторія Public Lab проводить аналіз якості газу та надає відповідні висновки.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default size50" data-dismiss="modal" style="background: none;">Закрити</button>
                <button type="button" class="btn btn-primary btn-square size50" data-toggle="modal" data-target="#contactForm">Замовити послугу</button>
            </div>
        </div>
    </div>
</div>
