<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="services20" tabindex="-1" role="dialog"
     aria-labelledby="services20-label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title uppercase" id="services20-label">Хімічний аналіз стічних вод</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <p>Аналіз стічних вод приміняється для аналізу вод з підприємств, зливової каналізації, вод з місць
                        загального користування (автозаправки, магазинів тощо) та вод спеціального користування.
                    </p>
                    <h4>Базовий пакет</h4>
                    <h5>Показники:</h5>
                    <ol>
                        <li>
                            Завислі речовини
                        </li>
                        <li> Температура в точці відбору
                        </li>
                        <li> Водневий показник (pH)
                        </li>
                        <li> Мутність
                        </li>
                        <li> Кольоровість
                        </li>
                        <li> Загальна лужність
                        </li>
                        <li> Перманганатна окислюваність
                        </li>
                        <li> Мідь
                        </li>
                        <li> Хлориди
                        </li>
                        <li> Залізо
                        </li>
                        <li> Магній
                        </li>
                        <li> Нітрати
                        </li>
                        <li> Сульфати
                        </li>
                        <li> Феноли
                        </li>
                        <li> Амоній
                        </li>
                        <li> Поліфосфати
                        </li>
                    </ol>

                    <h4>Розширений пакет</h4>
                    <h5>Показники:</h5>

                    <ol>
                        <li>
                            Запах при 20 °С
                        </li>
                        <li> Запах при 60 °С
                        </li>
                        <li> Присмак
                        </li>
                        <li> Кольоровість
                        </li>
                        <li> Каламутність
                        </li>
                        <li> Сухий залишок
                        </li>
                        <li> Водневий показник (рН)
                        </li>
                        <li> Перманганатна окислюваність
                        </li>
                        <li> Загальна лужність
                        </li>
                        <li> Нітрити
                        </li>
                        <li> Хром загальний
                        </li>
                        <li> Хлориди
                        </li>
                        <li> Сульфати
                        </li>
                        <li> Амоній
                        </li>
                        <li> Залізо
                        </li>
                        <li> Марганець
                        </li>
                        <li> Нітрати
                        </li>
                    </ol>

                    <h4>Повний пакет</h4>
                    <h5>Показники:</h5>

                    <ol class="services-list">
                        <li>
                            Запах при 20 °С
                        </li>
                        <li> Запах при 60 °С
                        </li>
                        <li> Присмак
                        </li>
                        <li> Кольоровість
                        </li>
                        <li> Каламутність
                        </li>
                        <li> Сухий залишок
                        </li>
                        <li> Водневий показник (рН)
                        </li>
                        <li> Перманганатна окислюваність
                        </li>
                        <li> Загальна лужність
                        </li>
                        <li> Нітрити
                        </li>
                        <li> Хром загальний
                        </li>
                        <li> Хлориди
                        </li>
                        <li> Сульфати
                        </li>
                        <li> Амоній
                        </li>
                        <li> Залізо
                        </li>
                        <li> Марганець
                        </li>
                        <li> Нітрати
                        </li>
                        <li> Поліфосфати
                        </li>
                        <li> Кальцій
                        </li>
                        <li> Магній
                        </li>
                        <li> Мідь
                        </li>
                        <li> Цинк
                        </li>
                        <li> Алюміній
                        </li>
                        <li> Нікель
                        </li>
                        <li> Хром 6+
                        </li>
                    </ol>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default size50" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary btn-square size50" data-toggle="modal" data-target="#contactForm">Замовити послугу</button>
            </div>
        </div>
    </div>
</div>






