<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="services1" tabindex="-1" role="dialog" aria-labelledby="services1-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="services1-label">ХІМІЧНИЙ АНАЛІЗ ПОВІТРЯ
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <p>
                        Лабораторія Public Lab проводить вимір якості повітря в
                        офісних приміщеннях, приватних будинках, квартирах.
                        Також доступна перевірка атмосферного повітря, що надходить до вашої оселі
                        з вулиці (особливо у випадках, коли поряд розташовані промислові
                        підприємства або проїзна частина). Експерти Public Lab нададуть
                        рекомендації щодо поліпшення якості повітря, вибору фільтра або
                        системи очищення повітря, а також захисту повітря у приміщенні від забруднення.
                    </p>
                    <h4>
                        Показники:
                    </h4>
                    <h5>
                        Неорганічні речовини
                    </h5>
                    <ul>
                        <li>
                            CO (оксид вуглецю)
                        </li>
                        <li>
                            CO2 (діоксид вуглецю)   
                        </li>
                        <li>
                            NO (оксид азоту)
                        </li>
                        <li>
                            NO2 (діоксид азоту)  
                        </li>
                        <li>
                            NH3 (аміак)
                        </li>
                        <li>
                            H2S (сірководень)
                        </li>
                        <li>SO2 (діоксид сірки)</li>
                        <li>Cl2 (хлор)</li>
                        <li>PH3 (фосфін)</li>
                        <li>O3 (озон)</li>
                    </ul>
                    <h5>
                        Неорганічні речовини
                    </h5>
                    <ul>
                        <li>Органічні речовини
                        </li>
                        <li>
                            Ex (горючі гази)
                        </li>
                        <li>
                            Формальдегід
                        </li>
                        <li>
                            Ацетон
                        </li>
                        <li>
                            Етанол
                        </li>
                        <li>
                            Ізопропіловий спирт
                        </li>
                        <li>
                            Вінілхлорид
                        </li>
                        <li>
                            Гексан
                        </li>
                        <li>
                            Бензол
                        </li>
                        <li>
                            Толуол
                        </li>
                        <li>
                            Фенол
                        </li>
                        <li>
                            Стирол
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary">Замовити послугу</button>
            </div>
        </div>
    </div>
</div>



