<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="services1" tabindex="-1" role="dialog" aria-labelledby="services1-label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="services1-label">ХІМІЧНИЙ АНАЛІЗ ПОВІТРЯ
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <h4>Базовий пакет</h4>
                    <p>
                        Визначення якості повітря в офісних приміщеннях,
                        приватних будинках і квартирах багатоквартирних будинків.
                    </p>
                    <h5>
                        Показники:
                    </h5>
                    <ol>
                        <li>
                            Формальдегід HCHO
                        </li>
                        <li> Фенол C6H5OH
                        </li>
                        <li> Азоту диоксід NO2
                        </li>
                        <li> Оксид азоту NO
                        </li>
                        <li> Ангідрид сірчаний SO2
                        </li>
                        <li> Аміак NH3
                        </li>
                        <li> Хлор Cl2
                        </li>
                        <li> Чадний газ CO
                        </li>
                        <li> Сірководень
                        </li>
                        <li> Фосфін
                        </li>
                        <li> Кисень O2
                        </li>
                        <li> Діоксид вуглецю CO2
                        </li>
                        <li> Метанол H3COH
                        </li>
                        <li> Бензол
                        </li>
                        <li> Температура
                        </li>
                        <li> Відносна вологість
                        </li>
                        <li> Атмосферний тиск
                    </ol>
                    <h4>Повний пакет</h4>
                    <p>Повний пакет для найбільш точної оцінки якості повітря та виявлення небезпечних ароматичних
                        вуглеводнів які можуть міститись в повітрі після ремонту, що проводились в приміщенні.</p>
                    <h5>Показники</h5>
                    <ol>
                        <li>
                            Формальдегід HCHO
                        </li>
                        <li> Фенол C6H5OH
                        </li>
                        <li> Азоту диоксід NO2
                        </li>
                        <li> Оксид азоту NO
                        </li>
                        <li> Ангідрид сірчаний SO2
                        </li>
                        <li> Аміак NH3
                        </li>
                        <li> Хлор Cl2
                        </li>
                        <li> Чадний газ CO
                        </li>
                        <li> Сірководень
                        </li>
                        <li> Фосфін
                        </li>
                        <li> Кисень O2
                        </li>
                        <li> Діоксид вуглецю CO2
                        </li>
                        <li> Метанол H3COH
                        </li>
                        <li> Бензол
                        </li>
                        <li> Циклогексан
                        </li>
                        <li> Пил
                        </li>
                        <li> Пропілен
                        </li>
                        <li> Етанол
                        </li>
                        <li> Температура
                        </li>
                        <li> Відносна вологість
                        </li>
                        <li> Атмосферний тиск</li>
                    </ol>
                    <h5>Пакет Фенол/формальдегид
                    </h5>
                    <ol>
                        <li>
                            Фенол</li>
                        <li>
                            Фомальдегид</li>
                    </ol>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default size50" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary btn-square size50" data-toggle="modal" data-target="#contactForm">Замовити послугу</button>
            </div>
        </div>
    </div>
</div>



