<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="services10" tabindex="-1" role="dialog"
     aria-labelledby="services10-label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title uppercase" id="services10-label">ХІМІЧНИЙ АНАЛІЗ ПОВІТРЯ робочої зони
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <h4>Базовий пакет</h4>

                    <h5>
                        Показники:
                    </h5>
                    <ol class="services-list">
                        <li> Кисень O2
                        </li>
                        <li> Діоксид вуглецю CO2
                        </li>
                        <li> Азоту діоксид NO2
                        </li>
                        <li> Ангідрид сірки SO2
                        </li>
                        <li> Пил
                        </li>
                        <li> Озон O3
                        </li>
                        <li> Формальдегід HCHO
                        </li>
                        <li> Хлор Cl2
                        </li>
                        <li> Метанол H3COH
                        </li>
                        <li> Бензол
                        </li>
                        <li> Циклогексан
                        </li>
                        <li> Етаналь
                        </li>
                        <li> Толуол
                        </li>
                        <li> Температура
                        </li>
                        <li> Відносна вологість
                        </li>
                        <li> Атмосферний тиск

                    </ol>
                    <h4>Пакет для виявлення горючих речовин в повітрі</h4>

                    <h5>Показники</h5>
                    <ol class="services-list">
                        <li>Кисень O2
                        </li>
                        <li> Діоксид вуглецю CO2
                        </li>
                        <li> Метан CH4
                        </li>
                        <li> Чадний газ CO
                        </li>
                        <li> Бензин
                        </li>
                        <li> Дизельне паливо</li>

                    </ol>
                    <h4>Пакет для аналізу повітря автобанних зон
                    </h4>
                    <p>Пакет для контрольного аналізу викидів небезпечних речовин в атмосферне повітря автомобілями.</p>
                    <h5>Показники:</h5>
                    <ol class="services-list">
                        <li>Пил
                        </li>
                        <li> Діоксид вуглецю
                        </li>
                        <li> Чадний газ СО
                        </li>
                        <li> Кисень O2
                        </li>
                        <li> Азоту діоксид NO2
                        </li>
                        <li> Оксид азоту NO
                        </li>
                        <li> Ангідрид сірки SO2
                        </li>
                        <li> Формальдегід
                        </li>
                        <li> Бензол C6H6
                        </li>
                        <li> Свинець Pb

                    </ol>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default size50" data-dismiss="modal" style="background: none;">Закрити</button>
                <button type="button" class="btn btn-primary btn-square size50" data-toggle="modal" data-target="#contactForm">Замовити послугу</button>
            </div>
        </div>
    </div>
</div>



