<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="services2" tabindex="-1" role="dialog" aria-labelledby="services2-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="services2-label">АНАЛІЗ ЯКОСТІ ВОДИ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <p>
                        Аналіз води передбачає визначення стандартних хімічних, мікробіологічних  показників, виявлення у воді  важких металів, нафтопродуктів, пестицидів, фенолів, сульфатів, поверхнево-активних речовин (ПАР), ціанідів. Лабораторія Public Lab проводить повний хімічний аналіз питної води з визначення якості води зі свердловини, колодязя, водопроводу, джерел.
                    </p>
                    <p>
                        Наші експерти дадуть рекомендації щодо поліпшення якості питної води, обрання фільтру для води або системи очищення, а також щодо захисту від забруднення плавальних басейнів та природних водойм.
                    </p>
                    <p>
                        Лабораторія Public Lab також проводить хімічний аналіз стічних вод підприємств, автозаправних станцій, автомийок і офісів. Обладнання лабораторії надає змогу перевірити побутові та виробничі стічні води, води зливової каналізації на відповідність вимогам “Правил приймання стічних вод до систем централізованого водовідведення”.
                    </p>
                    <p>
                        Фахівці лабораторії допоможуть оцінити вплив підприємства на водойму, перевірити і поліпшити ефективність роботи очисних споруд.
                    </p>
                    <h5>
                        Лабораторія Public Lab проводить аналіз проб стічних вод на:
                    </h5>
                    <ul>
                        <li>
                            отруйні речовини (феноли, сірководень та ін.);
                        </li>
                        <li>
                            важкі метали (свинець, хром, мідь, марганець та ін.);
                        </li>
                        <li>
                            нафтопродукти;
                        </li>
                        <li>
                            азот амонійний, фосфати, хлориди, сульфати, нітрати;
                        </li>
                        <li>
                            хімічне споживання кисню (ХСК);
                        </li>
                        <li>
                            поверхнево активні речовини (ПАР);
                        </li>
                        <li>
                            рН та інші показники.
                        </li>
                    </ul>
                    <h4>Ціни</h4>
                    <ul>
                        <li>Аналіз  бутильованої води - 500 грн.</li>
                        <li>Побутова вода - 700 грн.</li>
                        <li>Проточна вода - 850 грн.</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary">Замовити послугу</button>
            </div>
        </div>
    </div>
</div>






