<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="services3" tabindex="-1" role="dialog" aria-labelledby="services3-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="services3-label">ОЗОНУВАННЯ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <p>
                        З метою очищення, дезінфекції, видалення запахів та знезараження приміщень рекомендується проводити їх озонування. Використання побутового або промислового озонатора повітря, що виробляє озон, дозволяє здійснити обробку приміщень, які потерпіли від пожеж; де проживають люди, які багато палять або схильні до алергії; де зберігаються продукти харчування тощо. На переконання фахівців Public Lab, озонування особливо актуальне в період епідемій вірусних захворювань, адже дозволяє знешкодити всі мікроорганізми і знизити ризик захворювань.
                    </p>
                    <h5>
                        Перевагами озонування серед інших способів очищення приміщень є те, що:
                    </h5>
                    <ul>
                        <li>
                            дезінфікуюча дія озону більш ефективна, ніж дія ультрафіолету та хлору;
                        </li>
                        <li>
                            озон ефективний проти грибка, бактерій, вірусів та цвілі;
                        </li>
                        <li>
                            після обробки озоном зникають запахи хімічного та органічного походження;
                        </li>
                        <li>
                            озонування продовжує строки зберігання багатьох продуктів харчування;
                        </li>
                        <li>
                            після проведення обробки озон повністю розкладається, не залишаючи жодних сполук;
                        </li>
                        <li>
                            сприяє імуностимуляції, бактерицидна здатність шкіри збільшується на 30%;
                        </li>
                        <li>
                            у 3-5 разів знижується захворюваність і ускладнення, пов’язані з гіпертонічною хворобою;
                        </li>
                        <li>
                            у результаті позитивного впливу озону на дихальну систему поліпшується склад крові, артеріальний тиск, імунна система, самопочуття і працездатність людини.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary">Замовити послугу</button>
            </div>
        </div>
    </div>
</div>
