<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="services3" tabindex="-1" role="dialog" aria-labelledby="services3-label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="services3-label">ОЗОНУВАННЯ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <h4>Озонування житлових приміщень</h4>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Розмір об'єкту</td>
                                <td>Ціна,грн</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>До 30м³</td>
                                <td>600,00</td>
                            </tr>
                            <tr>
                                <td>Від 30м³ до 60м³</td>
                                <td>600 + 10/м³</td>
                            </tr>
                            <tr>
                                <td>Від 60м³ до 100м³</td>
                                <td>900 + 5/м³</td>
                            </tr>
                            <tr>
                                <td>Від 100м³ до 200м³  </td>
                                <td>1100 + 2/м³</td>
                            </tr>
                        </tbody>
                    </table>

                    <h4>Озонування офісних приміщень</h4>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Розмір об'єкту</td>
                            <td>Ціна,грн</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>До 30м³</td>
                            <td>500,00</td>
                        </tr>
                        <tr>
                            <td>Від 30м³ до 60м³</td>
                            <td>500 + 10/м³</td>
                        </tr>
                        <tr>
                            <td>Від 60м³ до 100м³</td>
                            <td>800 + 5/м³</td>
                        </tr>
                        <tr>
                            <td>Від 100м³ до 200м³  </td>
                            <td>1000 + 2/м³</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        Очищення повітря від неприємних запахів після ремону
                        (фарби, лаку, клея та ін. речовин, що виділяють
                        токсичний формальдегід). Профілактика інгаляційних захворювань та алергії.
                        Знищення вірусів, бактерій, спор грибка, цвілі, комах.
                    </p>

                    <h4>Озонування місць загального користування</h4>
                    <h6><i>(кафе, ресторани, супермаркети, спорткомплекси)</i></h6>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <td>Розмір об'єкту</td>
                            <td>Ціна,грн</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>До 30м³</td>
                            <td>800,00</td>
                        </tr>
                        <tr>
                            <td>Від 30м³ до 60м³</td>
                            <td>800 + 12/м³</td>
                        </tr>
                        <tr>
                            <td>Від 60м³ до 100м³</td>
                            <td>1190 + 8/м³</td>
                        </tr>
                        <tr>
                            <td>Від 100м³ до 200м³  </td>
                            <td>1510 + 5/м³</td>
                        </tr>
                        </tbody>
                    </table>

                    <h4>Озонування салонів автомобілів</h4>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Типи автомобілів</td>
                                <td>Ціна,грн</td>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Легкові автомобілі</td>
                            <td>300,00</td>
                        </tr>
                        <tr>
                            <td>Мікроавтобуси</td>
                            <td>500,00</td>
                        </tr>
                        <tr>
                            <td>Вантажівки, автобуси</td>
                            <td>800,00</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>

                    Повна очистка повітря салону автомобіля, знищення першопричини неприємного запаху, очистка кондиціонеру та повітропроводів, знищення распіраторних патогенів, знезараження салону та багажного відсіку.

                    Знищення неприємних запахів. Збільшення терміну придатності продуктів. Повна дезинфікація та знезараження поверхонь. Знищення вірусів, бактерій, спор грибка, цвілі, комах.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default size50" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary btn-square size50" data-toggle="modal" data-target="#contactForm">Замовити послугу</button>
            </div>
        </div>
    </div>
</div>
