<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="services3" tabindex="-1" role="dialog" aria-labelledby="services3-label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="services3-label">ОЗОНУВАННЯ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <p>
                        з метою очищення повітря у приміщеннях проводять озонування.
                        Використання побутового або промислового озонатора повітря, дозволяє здійснити обробку
                        приміщень: </p>
                    <ul>
                        <li> Які потерпіли від пожеж
                        </li>
                        <li> У яких відчутні сторонні запахи
                        </li>
                        <li> Де проживають люди, які палять або схильні до алергії
                        </li>
                        <li> На складах, або у інших приміщеннях, де довгий час зберігаються речі
                        </li>
                    </ul>
                    <p>
                        На переконання фахівців Public Lab, озонування особливо актуальне в період епідемій вірусних
                        захворювань, адже дозволяє знешкодити шкідливі мікроорганізми і знизити ризик захворювань.
                        Перевагами озонування серед інших способів очищення приміщень є те, що:
                    </p>

                    <ul>
                        <li> Дезінфікуюча дія озону більш ефективна, ніж дія ультрафіолету та хлору
                        </li>
                        <li> Озон ефективний проти грибка, бактерій, вірусів та плісняви
                        </li>
                        <li> Після обробки озоном зникають запахи хімічного та органічного походження
                        </li>
                        <li> Озонування продовжує строки зберігання багатьох продуктів харчування
                        </li>
                        <li> Після проведення обробки озон повністю розкладається, не залишаючи жодних сполук
                        </li>
                        <li> Сприяє імуностимуляції, бактерицидна здатність шкіри збільшується на 30%
                        </li>
                        <li> У 3-5 разів знижується захворюваність і ускладнення, пов’язані з гіпертонічною хворобою
                        </li>
                        <li> У результаті позитивного впливу озону на дихальну систему поліпшується склад крові,
                            артеріальний тиск, імунна система, самопочуття і працездатність людини
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default size60" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary size60">Замовити послугу</button>
            </div>
        </div>
    </div>
</div>
