@font-face {
    font-family: 'MADEEvolveSans';
    src: local('MADEEvolveSans'), local('MADEEvolveSans'), url('MADE Evolve Sans Thin.otf') format('otf');
    font-weight: 100;
    font-style: normal;
}