<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="services4-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="services4-label">
                    Про нас
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Form 1 -->
                <div class="container nopadding">
                    <p>
                        Це розумна лабораторія, яка допомагає суспільству жити екологічно чисто. Наша філософія полягає у створенні безпечного середовища для мешканців столиці.
                    </p>
                    <h5>
                        Ми проводимо:
                    </h5>
                    <ul>
                        <li>
                            хімічний аналіз повітря;
                        </li>
                        <li>
                            аналіз стічних вод;
                        </li>
                        <li>
                            хімічний аналіз води;
                        </li>
                        <li>
                            аналіз якості мережевого газу;
                        </li>
                        <li>
                            екологічну експертизу житла;
                        </li>
                        <li>
                            озонування повітря.
                        </li>
                        <li>
                            В залежності від потреб споживачів ми розробили програми скороченого і повного дослідження якості води та повітря.
                        </li>
                        <li>
                            Найкращі спеціалісти і сучасне обладнання лабораторії дозволяють надавати лише якісні послуги і достовірні результати досліджень.
                        </li>
                    </ul>
                    <h5>
                        Після проведення аналізу ви отримуєте:
                    </h5>
                    <ul>
                        <li>
                            достовірні результати досліджень, підтверджені сертифікатом;
                        </li>
                        <li>
                            висновок та розгорнутий коментар фахівця;
                        </li>
                        <li>
                            рекомендації з усунення недоліків та попередження негативних наслідків.
                        </li>
                        <li></li>
                    </ul>
                    <h5>
                        Перевагами Public Lab є:
                    </h5>


                    найсучасніше технічне обладнання – газовий хроматограф, “Agilent 7890б”, “Кристаллюкс 4000М”;
                    достовірна інформація в короткий термін;
                    об’єктивна ціна послуг;
                    режим роботи без перерв та вихідних;
                    кваліфікований персонал;
                    Після проведення аналізу ви отримаєте:

                    достовірні результати досліджень;
                    додаткову консультація спеціаліста;
                    чіткі рекомендації щодо усунення забруднень.
                </div>
            </div>
        </div>
    </div>
</div>
