
<!-- Navigation 5 -->

<nav class="navigation_5 bg_white padding_top10 padding_bottom10 line_height80">
    <div class="container nopadding">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <a href="/">
                    <div class="dark_blue nav_logo">
                        <img src="i/l.png" alt="" width="250">
                    </div>
                </a>
            </div>
            <div class="col-lg-9 col-md-8 text-right right_block">
                <a href="/" class="link dark_blue left40 MADEEvolveSans">Головна</a>
                <!--<a href="/#about" class="link dark_blue left40 MADEEvolveSans">Про лабораторію</a>-->
                <!--<a href="/#services" class="link dark_blue left40 MADEEvolveSans">Послуги</a>-->
                <!--<a href="/#team" class="link dark_blue left40 MADEEvolveSans">Наша команда</a>-->
                <!--<a href="/#partners" class="link dark_blue left40 MADEEvolveSans">Партнери</a>-->
                <!--<a href="/#news" class="link dark_blue left40 MADEEvolveSans">Новини</a>-->
                <!--<a href="/#contact" class="link dark_blue left40 MADEEvolveSans">Контакти</a>-->
            </div>
        </div>
    </div>
</nav>
