
<!-- Navigation 5 -->

<nav class="navigation_5 bg_white padding_top10 padding_bottom10 line_height80">
    <div class="container nopadding">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="dark_blue nav_logo">
                    <img src="i/logo.jpg" alt="" width="80">
                    Public Lab
                </div>
            </div>
            <div class="col-lg-9 col-md-8 text-right right_block">
                <a href="#about" class="link dark_blue left40">Про лабораторію</a>
                <a href="#services" class="link dark_blue left40">Послуги</a>
                <a href="#team" class="link dark_blue left40">Наша команда</a>
                <a href="#partners" class="link dark_blue left40">Партнеры</a>
                <a href="#news" class="link dark_blue left40">Новини</a>
                <a href="#contact" class="link dark_blue left40">Контакти</a>
            </div>
        </div>
    </div>
</nav>
