
<!-- Navigation 5 -->

<nav class="navigation_5 bg_white padding_top30 padding_bottom30 line_height40">
    <div class="container nopadding">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="dark_blue nav_logo"><b>Public</b> Lab</div>
            </div>
            <div class="col-lg-9 col-md-8 text-right right_block">
                <a href="#features" class="link dark_blue left40">Переваги</a>
                <a href="#options" class="link dark_blue left40">Послуги</a>
                <a href="#news" class="link dark_blue left40">Новини</a>
                <a href="#team" class="link dark_blue left40">Наша команда</a>
                <a href="#about" class="link dark_blue left40" data-toggle="modal" data-target="#about" >Про нас</a>
                <a href="#contact" class="link dark_blue left40">Контакти</a>
            </div>
        </div>
    </div>
</nav>