<div class="container text-center">
    <h1 class="font40 padding_top20 padding_bottom20">Дезінфекція методом озонування</h1>
    <div class="text text-justify">
        <p> Дезінфекція приміщення методом озонування – простий, швидкий і безпечний спосіб очистити повітря від
            вірусів, бактерій, спор грибків, цвілі та комах. Обробка озоном не шкодить здоров'ю, адже він повністю
            розкладається, не залишаючи жодних сполук. Така процедура є особливо актуальною у період вірусних
            захворювань та карантинів.
        </p>
        <p> Спеціаліст встановлює необхідне обладнання у вашій квартирі та запускає озон у повітря після того, як усі
            жителі та хатні тварини покинуть приміщення. Процес займає 20-30 хвилин, після чого квартира провітрюється
            пів години. Одразу після провітрювання жителі можуть повернутися у чисте та безпечне приміщення.
        </p>

        <p> Проведення процедури озонування займає не більше однієї години та гарантує усунення всіх небезпечних
            бактерій у помешканні всього протягом. Вартість озонування - від 600 грн. у залежності від квадратури
            приміщення.
        </p>
        <p> Перевагами озонування серед інших способів очищення приміщень є те, що:
        </p>
        <ul>
            <li>дезінфікуюча дія озону більш ефективна, ніж дія ультрафіолету та хлору;</li>
            <li>озон ефективний проти грибка, бактерій, вірусів та цвілі;</li>
            <li>після обробки озоном зникають запахи хімічного та органічного походження;</li>
            <li>озонування продовжує строки зберігання багатьох продуктів харчування;</li>
            <li>після проведення обробки озон повністю розкладається, не залишаючи жодних сполук;</li>
            <li>сприяє імуностимуляції, бактерицидна здатність шкіри збільшується на 30%;</li>
            <li>у 3-5 разів знижується захворюваність і ускладнення, пов’язані з гіпертонічною хворобою;</li>
            <li>у результаті позитивного впливу озону на дихальну систему поліпшується склад крові, артеріальний тиск,
                імунна система, самопочуття і працездатність людини.
            </li>
        </ul>
    </div>
</div>