<div class="container text-center">
    <h1 class="font40 padding_top20 padding_bottom20 MADEEvolveSans">Соціальний проект "Безпечна школа"
    </h1>
    <div class="text text-justify">
        <p> "Безпечна школа" - соціальний проект для державних, комунальних освітніх закладів Києва від лабораторії
            Public Lab.
        </p>
        <p> У рамках "Безпечної школи" заклади-учасники отримують безкоштовне лабораторне дослідження повітря та
            побутової води у приміщеннях для навчання. Метою проекту є аналіз і покращення умов для школярів та
            вчителів. Додатково "Безпечна школа" передбачає освітню функцію, адже учні будуть проінформовані та залучені
            до процесу досліджень.
        </p>
        <p> Після проведення аналізів фахівці Public Lab нададуть зрозумілий розгорнутий коментар щодо результатів
            аналізів, для учнів 7-12 класів проводитиметься інтерактивна науково-популярна лекція на тему
        "Інновації у дослідженні безпеки середовища", а заклад отримає офіційний сертифікат із відзнакою "Безпечна
        школа".
        </p>
        <p> У разі відхилення результатів аналізів від норм лабораторія гарантує нерозголошення результатів аналізів.
            Наразі Public Lab шукає партнерів, які змогли б допомогти державним освітнім закладам безкоштовно покращити
            умови для навчання.
        </p>
    </div>
</div>