<div class="container text-center">
    <h1 class="font40 padding_top20 padding_bottom20">Відкриття лабораторії Public Lab</h1>
    <div class="text text-justify">
        <p>
            У Києві відбулося відкриття сучасної лабораторії хімічного аналізу Public Lab. Лабораторія надаватиме
            доступні послуги із проведення всіх видів аналізів, необхідних для контролю якості побутової та питної води,
            атмосферного повітря та повітря в оселі.

        </p>
        <p> В умовах життя у великому місті контроль якості повітря та води є невід’ємною складовою здоров’я всієї
            родини. Відтепер кияни зможуть індивідуально підібрати найбільш ефективний вид фільтрації водопровідної води
            та визначитися із відповідною системою очищення повітря в залежності від специфіки місця проживання.
            Додатково фахівці Public Lab надаватимуть послуги із проведення процедури озонування, що дозволить
            знешкодити всі мікроорганізми у помешканні.
        </p>
        <p> У рамках поліпшення рівня гармонізації природного та соціального середовищ лабораторія встановлює безоплатну
            співпрацю зі столичною ініціативою Kyiv Smart City, а також профільними державними органами. У подальшому
            Public Lab обіцяє надавати сприяння різним ініціативам, спрямованим на поліпшення екологічного стану
            столиці.
        </p>
    </div>
</div>