<div class="container text-center">
    <h1 class="font40 padding_top20 padding_bottom20 MADEEvolveSans">Проект "Чарівна хімія"</h1>
    <div class="text text-justify">
        <p>
            Чарівна хімія - соціальний освітній проект лабораторії Public Lab, метою якого є популяризація природничих наук
            серед школярів та студентів Києва, поширення ідеї екологічного способу життя. Головний метод комунікації з
            молоддю - щотижневі безкоштовні екскурсії, під час яких відвідувачі прослуховують науково-популярні лекції від
            директора Public Lab в приміщенні лабораторії.
        </p>
        <p>
            У рамках проекту учням розповідають, чому необхідно очищувати воду і повітря у власному домі та як ефективно
            вберегтися від шкідливого впливу міського середовища. Кожен охочий має можливість спробували себе у ролі
            справжнього науковця та провести декілька дослідів під наглядом фахівців.
        </p>
       <p>
           Проект "Edu Lab" спрямований зацікавити школярів та студентів у вивченні природничих наук, пояснити доцільність
           та основи екологічної свідомості, підштовхнути до здорового способу життя.
       </p>
        <p>
            Лабораторія Public Lab є відкритою та завжди рада гостям!
        </p>
    </div>
</div>