

<section class="feature_43 bg_sand">
    <div class="container nopadding dark_gray text-center text-sm-left">
        <img src="i/about.jpg" class="absolute height_full bg" alt="" STYLE="max-height: 450px"/>
        <div class="row justify-content-end">
            <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 padding_top30
             inner">
                <!--<h2 class="bottom25 font42 font_second light">Public Lab</h2>-->

                <div class="bottom40 font22 light opacity7 text">
                    Public Lab - інноваційна лабораторія, що піклується про екологічну ситуацію в Києві.
                    Основними напрямками діяльності є хімічний аналіз води та повітря,
                    хімічний аналіз природного газу, а  також озонування приміщення.
                    Public Lab гарантує професіоналізм і досвід фахівців
                    лабораторії, достовірність та точність досліджень.
                    Головна мета діяльності лабораторії - це налагодження
                    еко-моніторингових процесів у Києві, створення екологічно безпечного
                    середовища для мешканців столиці, популяризація науки та екологічної свідомості серед молоді.
                    Чисте майбутнє інноваційними методами!
                </div>
            </div>
        </div>
    </div>
</section>