

<section class="feature_43 bg_sand" id="about">
    <div class="container nopadding dark_gray text-center text-sm-left">
        <img src="i/about.jpg" class="absolute height_full bg" alt="" STYLE="max-height: 450px"/>
        <div class="row justify-content-end">
            <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 padding_top30
             inner">
                <!--<h2 class="bottom25 font42 font_second light">Public Lab</h2>-->

                <div class="bottom40 font22 light opacity9 text text-justify">
                    Public Lab є інноваційною лабораторією, що піклується про екологічну ситуацію в Києві.
                    Лабораторію засновано на базі столичного оператора газорозподільних мереж ПАТ «Київгаз». Найсучасніше обладнання надає можливість щотижнево проводити аналіз природного газу на предмет відповідності його фізико-хімічних показників нормативно закріпленим стандартам якості.
                    Партнерство з державними органами та ініціативою Kyiv Smart City допомагає швидко та ефективно реалізовувати проекти, що спрямовані на налагодження еко-моніторингових процесів, створення безпечного середовища, популяризацію науки та екологічної свідомості серед молоді.
                    Public Lab виконує приватні замовлення на проведення аналізів повітря жилої та робочих зон, питної та стічних вод, а також надає послуги з озонування житлових та офісних приміщень.

                </div>
            </div>
        </div>
    </div>
</section>