
<!-- Contact 8 -->

<section class="contact_8 bg_sand padding_top20 padding_bottom60 relative" id="contact">
    <div class="left700 absolute height_full google_map"
         data-marker="i/map-pin-red.png"
         data-marker-size="30*40"
         data-coords="50.4093993,30.520137"
         data-zoom="14"
    ></div>
    <div class="container nopadding dark_gray">
        <div class="max_width650 inner">
            <div class="bottom5 font14 semibold uppercase spacing20 opacity3">E-mail</div>
            <a href="mailto:info@designmodo.com" class="bottom40 font30 light link dark_gray text_big">
                <img src="i/icons/2.png" alt="" class="width40" style="margin-right: 20px;">publiclabua@gmail.com</a>
            <div class="bottom5 font14 semibold uppercase spacing20 opacity3">контактний центр</div>
            <a href="tel:+15555055050" class=" font30 light link dark_gray text_big">
                <img src="i/icons/3.png" alt="" class="width40" style="margin-right: 16px;">
                +38 098 188 88 89</a>
            <div class="font20 light bottom40">
                Понеділок - п'ятниця 09:00 - 18:00 <br>
                Субота - неділя 09:00 - 18:00
            </div>
            <div class="bottom5 font14 semibold uppercase spacing20 opacity3">Адреса</div>
            <div class="font26 light link dark_gray text_big">
                <img src="i/icons/1.png" alt="" class="width40" style="margin-right: 20px;">
                пров. Руслана Лужевського, 18, Київ, Україна</div>
            <div class="font20 light bottom40">
                Понеділок - п'ятниця 09:00 - 18:00 <br>
                Субота - неділя &mdash; вихідні
            </div>
            <div class="bottom5 font14 semibold uppercase spacing20 opacity3">Соціальні мережі</div>
            <div>
                <a href="https://www.facebook.com/Public-Lab-1983266715327171"  target="_blank"  class="bottom20 font30 light link dark_gray text_big">
                    <img src="i/icons/5.png" alt="" class="width40" style="margin-right: 20px;">Facebook</a>
            </div>
            <div class="">
                <a href="https://www.instagram.com/publiclab_ua" target="_blank" class="bottom40 font30 light link dark_gray text_big">
                    <img src="i/icons/6.png" alt="" class="width40" style="margin-right: 20px;">Instagram</a>
            </div>
            <div class="font20 opacity7">
                Лабораторія знаходиться у приміщенні закритого типу. Перед візитом зателефонуйте, будь ласка, до контактного центру.
            </div>
        </div>

    </div>
</section>