
<!-- Contact 8 -->

<section class="contact_8 bg_sand padding_top120 padding_bottom130 relative" id="contact">
    <div class="left700 absolute height_full google_map"
         data-marker="i/map-pin-red.png"
         data-marker-size="30*40"
         data-coords="50.4093993,30.520137"
         data-zoom="14"
    ></div>
    <div class="container nopadding dark_gray">
        <div class="max_width470 inner">
            <div class="font20">Public Lab</div>
            <div class="top10 bottom125 font22 font_second light text">

            </div>
            <div class="bottom5 font14 semibold uppercase spacing20 opacity3">E-mail</div>
            <a href="mailto:info@designmodo.com" class="bottom40 font42 light link dark_gray text_big">publiclabua@gmail.com</a>
            <div class="bottom5 font14 semibold uppercase spacing20 opacity3">Телефон</div>
            <a href="tel:+15555055050" class="bottom40 font42 light link dark_gray text_big">+38 098 188 88 89</a>
            <div class="bottom5 font14 semibold uppercase spacing20 opacity3">Адреса</div>
            <div class="font42 light text_big">пров. Руслана Лужевського, 18, Київ, Україна</div>
        </div>
    </div>
</section>