
<!-- Feature 1 -->

<section class="feature_1 bg_white padding_top100 padding_bottom85" id="options">
    <div class="container nopadding max_width970">
        <h2 class="font42 font_second light dark_gray text-center text-uppercase">Чому ми?</h2>
        <div class="top65 row inner">
            <div class="col-md-3 text-center bottom50 block" data-aos="fade-up" data-aos-delay="0">
                <a href="#" data-toggle="modal" data-target="#features1">
                    <img src="./i/logo/c.png" width="120" height="120">
                    <div class="top30 font28 light dark_gray title">Найсучасніше обладнання</div>
                </a>
            </div>
            <div class="col-md-3 text-center bottom50 block" data-aos="fade-up" data-aos-delay="50">
                <a href="#" data-toggle="modal" data-target="#features2">
                    <img src="./i/logo/communication.png" width="120" height="120">
                    <div class="top30 font28 light dark_gray title">Соціальні проекти</div>
                </a>
            </div>
            <div class="col-md-3 text-center bottom50 block" data-aos="fade-up" data-aos-delay="100">
                <a href="#" data-toggle="modal" data-target="#features3">

                    <img src="./i/logo/info.png" width="120" height="120">
                    <div class="top30 font28 light dark_gray title">Достовірна інформація</div>
                </a>
            </div>
            <div class="col-md-3 text-center bottom50 block" data-aos="fade-up" data-aos-delay="150">
                <a href="#" data-toggle="modal" data-target="#features4">
                    <img src="./i/logo/price.png" width="120" height="120">
                    <div class="top30 font28 light dark_gray title">Обгрунтована ціна послуг</div>
                </a>
            </div>
        </div>
    </div>
</section>

<div include-html="./templates/features/modals/equipment.html"></div>
<div include-html="./templates/features/modals/info.html"></div>
<div include-html="./templates/features/modals/prices.html"></div>
<div include-html="./templates/features/modals/projects.html"></div>
