
<!-- Feature 1 -->

<section class="feature_1 bg_white padding_top100 padding_bottom85" id="options">
    <div class="container nopadding max_width970">
        <h2 class="font42 font_second light dark_gray text-center">Чому ми?</h2>
        <div class="top65 row inner">
            <div class="col-md-3 text-center bottom50 block" data-aos="fade-up" data-aos-delay="0">
                <img src="./i/logo/c.png" width="60" height="60">
                <div class="top30 font28 light dark_gray title">Найсучасніше обладнання</div>
            </div>
            <div class="col-md-3 text-center bottom50 block" data-aos="fade-up" data-aos-delay="50">
                <img src="./i/logo/communication.png" width="60" height="60">
                <div class="top30 font28 light dark_gray title">Соціальні проекти</div>
            </div>
            <div class="col-md-3 text-center bottom50 block" data-aos="fade-up" data-aos-delay="100">
                <img src="./i/logo/info.png" width="60" height="60">
                <div class="top30 font28 light dark_gray title">Достовірна інформація</div>
            </div>
            <div class="col-md-3 text-center bottom50 block" data-aos="fade-up" data-aos-delay="150">
                <img src="./i/logo/price.png" width="60" height="60">
                <div class="top30 font28 light dark_gray title">Обгрунтована ціна послуг</div>
            </div>
        </div>
    </div>
</section>
