
<!-- Feature 1 -->

<section class="feature_1 bg_white padding_top100 padding_bottom85" id="options">
    <div class="container nopadding max_width970">
        <h2 class="font42 font_second light dark_gray text-center">Наші переваги</h2>
        <div class="top65 row inner">
            <div class="col-md-4 text-center bottom50 block" data-aos="fade-up" data-aos-delay="0">
                <img src="./i/svg/quality-badge.svg" width="60" height="60">
                <div class="top30 font28 light dark_gray title">Достовірні результати</div>
                <div class="top30 font18 light dark_blue text">
                    Достовірні результати досліджень підверджені сертифікатом
                </div>
            </div>
            <div class="col-md-4 text-center bottom50 block" data-aos="fade-up" data-aos-delay="50">
                <img src="./i/svg/chat.svg" width="60" height="60">
                <div class="top30 font28 light dark_gray title">Висновок фахівця</div>
                <div class="top30 font18 light dark_blue text">
                    Висновок та розгорнутий коментар фахівця
                </div>
            </div>
            <div class="col-md-4 text-center bottom50 block" data-aos="fade-up" data-aos-delay="100">
                <img src="./i/svg/ok-mark.svg" width="60" height="60">
                <div class="top30 font28 light dark_gray title">Рекомендації</div>
                <div class="top30 font18 light dark_blue text">
                    Рекомендації щодо усунення недоліків та попередження негативних наслідків
                </div>
            </div>
        </div>
    </div>
</section>
