<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>Startup Framework 2.2 - Project</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="icon" href="i/favicon.png" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900|Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link href="css/style.css" rel="stylesheet" />
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
	</head> 
	<body>
<!-- Team 5 -->

<section class="team_5 bg_dark_gray padding_top100 padding_bottom50">
	<div class="container nopadding white">
		<div class="max_width970">
			<h2 class="font42 font_second light">Startup Crew</h2>
			<div class="top25 max_width770 font22 light opacity7 text">
				The most important part of the Startup Framework is the samples. The samples form a set of 25 usable pages you can use as is or you can add new blocks from UI Kit.
			</div>
			<div class="top60 row inner">
				<div class="col-md-4 col-sm-6 bottom75">
					<div class="width270 block">
						<a href="#" class="link white link_to_profile">
							<img srcset="i/demo_images/team_5_foto1.jpg 1x, i/demo_images/team_5_foto1_2x.jpg 2x" src="i/demo_images/team_5_foto1.jpg" class="radius_full" alt="" />
							<div class="top25 font14 semibold uppercase spacing15 title">Leah Salomon</div>
							<div class="top10 font18 light">UI Designer</div>
						</a>
						<div class="top10 buttons">
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-twitter"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-facebook-square"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-dribbble"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 bottom75">
					<div class="width270 block">
						<a href="#" class="link white link_to_profile">
							<img srcset="i/demo_images/team_5_foto2.jpg 1x, i/demo_images/team_5_foto2_2x.jpg 2x" src="i/demo_images/team_5_foto2.jpg" class="radius_full" alt="" />
							<div class="top25 font14 semibold uppercase spacing15 title">Colin Timmons</div>
							<div class="top10 font18 light">UX Designer</div>
						</a>
						<div class="top10 buttons">
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-twitter"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-dribbble"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 bottom75">
					<div class="width270 block">
						<a href="#" class="link white link_to_profile">
							<img srcset="i/demo_images/team_5_foto3.jpg 1x, i/demo_images/team_5_foto3_2x.jpg 2x" src="i/demo_images/team_5_foto3.jpg" class="radius_full" alt="" />
							<div class="top25 font14 semibold uppercase spacing15 title">Miguel Osborne</div>
							<div class="top10 font18 light">Front-end Developer</div>
						</a>
						<div class="top10 buttons">
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-skype"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-medium"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-git"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 bottom75">
					<div class="width270 block">
						<a href="#" class="link white link_to_profile">
							<img srcset="i/demo_images/team_5_foto4.jpg 1x, i/demo_images/team_5_foto4_2x.jpg 2x" src="i/demo_images/team_5_foto4.jpg" class="radius_full" alt="" />
							<div class="top25 font14 semibold uppercase spacing15 title">Taylor Simon</div>
							<div class="top10 font18 light">Product Manager</div>
						</a>
						<div class="top10 buttons">
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-twitter"></i></a>
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 bottom75">
					<div class="width270 block">
						<a href="#" class="link white link_to_profile">
							<img srcset="i/demo_images/team_5_foto5.jpg 1x, i/demo_images/team_5_foto5_2x.jpg 2x" src="i/demo_images/team_5_foto5.jpg" class="radius_full" alt="" />
							<div class="top25 font14 semibold uppercase spacing15 title">Steven MacAlister</div>
							<div class="top10 font18 light">Copyrighter</div>
						</a>
						<div class="top10 buttons">
							<a href="#" target="_blank" class="link white font18 right25"><i class="fab fa-twitter"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Team 2 -->

<section class="team_2 padding_top100 padding_bottom135">
	<div class="container nopadding text-center white">
		<h2 class="font42 font_second light">Our Crew</h2>
		<div class="max_width770 margin_auto top35 font22 light hyphens text">
			Samples will show you the feeling on how to play around using the components in the website building process.
		</div>
		<div class="margin_auto top60 radius10 inner">
			<div class="row">
				<div class="col-md-4 padding_top65 padding_bottom65 block">
					<img srcset="i/demo_images/team_2_foto1.jpg 1x, i/demo_images/team_2_foto1_2x.jpg 2x" src="i/demo_images/team_2_foto1.jpg" class="radius_full" alt="" />
					<div class="top30 font14 semibold uppercase spacing15 dark_blue title">Samantha Gimson</div>
					<div class="top20 buttons">
						<a href="#" class="font22 link medium_gray sides15"><i class="fab fa-twitter"></i></a>
						<a href="#" class="font22 link medium_gray sides15"><i class="fab fa-facebook-square"></i></a>
						<a href="#" class="font22 link medium_gray sides15"><i class="fab fa-dribbble"></i></a>
					</div>
				</div>
				<div class="col-md-4 padding_top65 padding_bottom65 block bordered">
					<img srcset="i/demo_images/team_2_foto2.jpg 1x, i/demo_images/team_2_foto2_2x.jpg 2x" src="i/demo_images/team_2_foto2.jpg" class="radius_full" alt="" />
					<div class="top30 font14 semibold uppercase spacing15 dark_blue title">Evan Barrington</div>
					<div class="top20 buttons">
						<a href="#" class="font22 link medium_gray sides15"><i class="fab fa-twitter"></i></a>
						<a href="#" class="font22 link medium_gray sides15"><i class="fab fa-facebook-square"></i></a>
						<a href="#" class="font22 link medium_gray sides15"><i class="fab fa-behance"></i></a>
					</div>
				</div>
				<div class="col-md-4 padding_top65 padding_bottom65 block">
					<img srcset="i/demo_images/team_2_foto3.jpg 1x, i/demo_images/team_2_foto3_2x.jpg 2x" src="i/demo_images/team_2_foto3.jpg" class="radius_full" alt="" />
					<div class="top30 font14 semibold uppercase spacing15 dark_blue title">Brian Oakman</div>
					<div class="top20 buttons">
						<a href="#" class="font22 link medium_gray sides15"><i class="fab fa-twitter"></i></a>
						<a href="#" class="font22 link medium_gray sides15"><i class="fab fa-git"></i></a>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="top50 btn size50 transparent_green border border_green padding_left30 padding_right25">View our Crew <i class="fas fa-angle-right left10"></i></a>		
	</div>
</section>
<!-- Team 3 -->

<section class="team_3 bg_white padding_top100 padding_bottom70">
	<div class="container nopadding text-center dark_gray">
		<h2 class="max_width570 margin_auto font42 font_second light">Startup Framework Team. <br />Better crew for your startup.</h2>
		<div class="margin_auto top70 flex justify_between inner">
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto1.jpg 1x, i/demo_images/team_3_foto1_2x.jpg 2x" src="i/demo_images/team_3_foto1.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Xavier Oswald</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">co-founder, developer</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto2.jpg 1x, i/demo_images/team_3_foto2_2x.jpg 2x" src="i/demo_images/team_3_foto2.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Sara Creighton</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Co-founder, developer </div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto3.jpg 1x, i/demo_images/team_3_foto3_2x.jpg 2x" src="i/demo_images/team_3_foto3.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Brandon Ogden</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Project manager</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto4.jpg 1x, i/demo_images/team_3_foto4_2x.jpg 2x" src="i/demo_images/team_3_foto4.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Allison Gardner</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Senior UI Designer</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto5.jpg 1x, i/demo_images/team_3_foto5_2x.jpg 2x" src="i/demo_images/team_3_foto5.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Zachary Wainwright</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Ui designer</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto6.jpg 1x, i/demo_images/team_3_foto6_2x.jpg 2x" src="i/demo_images/team_3_foto6.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Trinity Page</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Ux designer</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto7.jpg 1x, i/demo_images/team_3_foto7_2x.jpg 2x" src="i/demo_images/team_3_foto7.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Avery Keat</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Office Manager</div>
			</a>
			<a href="#" class="width270 margin_auto bottom50 block">
				<img srcset="i/demo_images/team_3_foto8.jpg 1x, i/demo_images/team_3_foto8_2x.jpg 2x" src="i/demo_images/team_3_foto8.jpg" class="radius8" alt="" />
				<div class="top20 font22 light title">Brandon Wayne</div>
				<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Front-end Developer</div>
			</a>
		</div>	
	</div>
</section>

<!-- Call to Action 6 -->

<section class="call_to_action_6 padding_top90 padding_bottom90">
	<div class="container nopadding text-center white height_full">
		<div class="flex align_center height_full">
			<div class="margin_auto font28 light font_second line_height70 text">
				How does it work?
				<a href="https://www.youtube.com/embed/RcTFVcoibI0?rel=0&showinfo=0" target="_blank" class="sides75 btn red play_popup_video"><i class="fas fa-play"></i></a>
				Watch Our Video
			</div>
		</div>
	</div>
</section>

<!-- Content 25 -->

<section class="content_25 height900 relative">
	<a href="https://www.youtube.com/embed/RcTFVcoibI0?rel=0&showinfo=0" target="_blank" class="btn white dark_gray play_popup_video"><i class="fas fa-play"></i></a>
</section>
<!-- forms alerts -->
<div class="alert alert-success alert-dismissible alert-form-success" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Thanks for your message!
</div>
<div class="alert alert-warning alert-dismissible alert-form-check-fields" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Please, fill in required fields.
</div>
<div class="alert alert-danger alert-dismissible alert-form-error" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	An error occurred while sending data :(
</div>
<!-- popup with video -->
<div class="overlay"></div>

<div class="video_popup">
	<a class="close">
		<img srcset="i/close_white.png 1x, i/close_white_2x.png 2x" src="i/close_white.png" alt="" />
	</a>
	<div class="flex align_center justify_center width_full height_full iframe_container"></div>
</div>

<script src="js/slick.min.js"></script>
<script src="js/aos.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>