<!-- Showcase 10 -->

<section class="showcase_10 bg_white padding_top80 padding_bottom50" id="news">
    <div class="container nopadding">
        <div class="bottom30 radius10 block_green">
            <div class="left60 max_width470 padding_top45 padding_bottom45 inner">
                <div class="font28 font_second light dark_gray title">ОЗОНУВАННЯ</div>
                <div class="top20 font18 light hyphens text">
                    Озонування – простий і безпечний спосіб очистити повітря в домі і позбутися неприємних запахів.
                    Проникаючи в усі важкодоступні місця і заповнюючи собою все приміщення, озон…
                </div>
                <a href="#" class="top85 link green font12 uppercase semibold spacing10">Читати далі <i class="fa fa-angle-right left10"></i></a>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-6 bottom30">
                <div class="height_full radius10 block_gray">
                    <div class="padding_sides60 max_width530 padding_top45 padding_bottom45 inner">
                        <div class="font28 font_second light dark_gray title">
                            ЧОМУ НЕОБХІДНО ЗНАТИ ПРО ВМІСТ НІТРАТІВ У ПИТНІЙ ВОДІ?
                        </div>
                        <div class="top20 font18 light text">
                            Нітрати здатні перетворюватися в нітрити. Це солі азотної кислоти.
                            Вони є небезпечними і можуть завдати непоправної шкоди людському організму.
                            Коли нітрити вступають в реакцію з…
                        </div>
                        <a href="#" class="top70 link green font12 uppercase semibold spacing10">Читати далі <i class="fa fa-angle-right left10"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bottom30">
                <div class="height_full radius10 white block_black">
                    <div class="padding_sides60 max_width530 padding_top45 padding_bottom45 inner">
                        <div class="font28 font_second light title">
                            У КИЄВІ ВІДБУЛОСЯ ВІДКРИТТЯ СУЧАСНОЇ ЛАБОРАТОРІЇ ХІМІЧНОГО АНАЛІЗУ PUBLIC LAB
                        </div>
                        <div class="top20 font18 light opacity7 text">
                            У Києві відбулося відкриття сучасної лабораторії хімічного аналізу Public Lab.
                            Лабораторія надаватиме доступні послуги із проведення всіх видів аналізів,
                            необхідних для контролю якості побутової та…						</div>
                        <a href="#" class="top70 link green font12 uppercase semibold spacing10">Читати далі <i class="fa fa-angle-right left10"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
