<!-- Showcase 9 -->

<section class="showcase_9 padding_top95 ">
    <div class="container nopadding text-center">
        <h2 class="font42 font_second light dark_gray bottom60">Новини в ЗМІ</h2>
        <!--<div class="margin_auto top25 bottom80 max_width770 font18 light opacity7 text text1">-->
            <!--The most important part of the Startup Framework is the samples. The samples form a set of 20 usable pages you can use as is or you can add new blocks from UI Kit.-->
        <!--</div>-->
        <div class="row align-items-stretch">
            <div class="col-md-6 text-left bottom30">
                <a href="https://nv.ua/style/wness/health_wel/public-lab-persha-laboratorija-dlja-potreb-kijan-2484805.html" class="bg_white margin_auto max_width570 radius10 block">
                    <img src="i/news-1.png" class="width_full" alt="" />
                    <div class="padding_sides35 padding_bottom25 inner bg-light">
                        <div class="top25 font28 font_second light title">Public Lab первая лаборатория для нужд киевлян</div>
                        <div class="top10 font18 opacity7 text text-justify">
                            В Киеве состоялось открытие современной лаборатории химического анализа Public Lab
                        </div>
                        <div class="top15 font12 semibold uppercase spacing10 opacity3 tags">08:53 26 липня, 2018</div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 text-left bottom30">
                <a href="https://itc.ua/partner-news/public-lab-persha-laboratoriya-dlya-potreb-kiyan/" class="bg_white margin_auto max_width570 radius10 block">
                    <img src="i/news-3-1.png" class="width_full" alt="" />
                    <div class="padding_sides35 padding_bottom25 inner bg-light">
                        <div class="top25 font28 font_second light title">Public Lab перша лабораторія для потреб киян </div>
                        <div class="top10 font18 opacity7 text text-justify">
                            У Києві відбулося відкриття сучасної лабораторії хімічного аналізу Public Lab. Лабораторія надаватиме...                        </div>
                        <div class="top15 font12 semibold uppercase spacing10 opacity3 tags">09:41 27 липня, 2018</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-md-6 text-left bottom30">
                <a href="https://ain.ua/2018/07/26/public-lab-persha-laboratoriya-shho-stvoryuye-ekologichno-bezpechne-seredovishhe-dlya-kiyan/" class="bg_white margin_auto max_width570 radius10 block">
                    <img src="i/news-4.png" class="width_full" alt="" />
                    <div class="padding_sides35 padding_bottom25 inner bg-light">
                        <div class="top25 font28 font_second light title">
                            Public Lab: перша лабораторія,
                            що створює екологічно безпечне середовище для киян</div>
                        <div class="top10 font18 opacity7 text text-justify">
                            У Києві відбулося відкриття сучасної лабораторії хімічного аналізу Public Lab.
                        </div>
                        <div class="top15 font12 semibold uppercase spacing10 opacity3 tags">18:00 27 липня, 2018</div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 text-left bottom30">
                <a href="https://www.segodnya.ua/ukraine/public-lab-pervaya-laboratoriya-dlya-nuzhd-kievlyan-1157862.html"
                   class="bg_white margin_auto max_width570 radius10 block">
                    <img src="i/news-5.png" class="width_full" alt="" />
                    <div class="padding_sides35 padding_bottom25 inner bg-light">
                        <div class="top25 font28 font_second light title">Public Lab – первая лаборатория для нужд киевлян</div>
                        <div class="top10 font18 opacity7 text text-justify">
                            В ней можно сделать анализы, необходимые для контроля качества бытовой и питьевой воды, атмосферного воздуха и воздуха в доме
                        </div>
                        <div class="top15 font12 semibold uppercase spacing10 opacity3 tags">26 Июля 2018, 18:30</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>




<!--&lt;!&ndash; Showcase 10 &ndash;

<section class="showcase_10 bg_white padding_top80 padding_bottom50" id="news">
    <div class="container nopadding">
        <div class="row align-items-stretch">
            <div class="col-md-6 bottom30">
                <div class="height_full radius10 block_gray" style="background-image: url('./i/5_main.jpg');">
                    <div class="padding_sides60 max_width530 padding_top45 padding_bottom45 inner">
                        <div class="font28 font_second light dark_gray title">
                            Public Lab первая лаборатория для нужд киевлян
                        </div>
                        <div class="top20 font18 light hyphens text">
                            В Киеве состоялось открытие современной лаборатории химического анализа Public Lab

                            Лаборатория будет предоставлять доступные услуги по проведению всех видов анализов,
                            необходимых для контроля качества бытовой и питьевой воды, атмосферного воздуха и воздуха в доме
                        </div>
                        <a href="https://nv.ua/style/wness/health_wel/public-lab-persha-laboratorija-dlja-potreb-kijan-2484805.html"
                           target="_blank" class="top85 link green font12 uppercase semibold spacing10">Читати далі <i class="fa fa-angle-right left10"></i></a>
                    </div>
                </div>
            </div><div class="col-md-6 bottom30">
                <div class="height_full radius10 block_gray">
                    <div class="padding_sides60 max_width530 padding_top45 padding_bottom45 inner">
                        <div class="font28 font_second light dark_gray title">
                            ЧОМУ НЕОБХІДНО ЗНАТИ ПРО ВМІСТ НІТРАТІВ У ПИТНІЙ ВОДІ?
                        </div>
                        <div class="top20 font18 light text">
                            Нітрати здатні перетворюватися в нітрити. Це солі азотної кислоти.
                            Вони є небезпечними і можуть завдати непоправної шкоди людському організму.
                            Коли нітрити вступають в реакцію з…
                        </div>
                        <a href="#" class="top70 link green font12 uppercase semibold spacing10">Читати далі <i class="fa fa-angle-right left10"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bottom30">
                <div class="height_full radius10 white block_black">
                    <div class="padding_sides60 max_width530 padding_top45 padding_bottom45 inner">
                        <div class="font28 font_second light title">
                            У КИЄВІ ВІДБУЛОСЯ ВІДКРИТТЯ СУЧАСНОЇ ЛАБОРАТОРІЇ ХІМІЧНОГО АНАЛІЗУ PUBLIC LAB
                        </div>
                        <div class="top20 font18 light opacity7 text">
                            У Києві відбулося відкриття сучасної лабораторії хімічного аналізу Public Lab.
                            Лабораторія надаватиме доступні послуги із проведення всіх видів аналізів,
                            необхідних для контролю якості побутової та…						</div>
                        <a href="#" class="top70 link green font12 uppercase semibold spacing10">Читати далі <i class="fa fa-angle-right left10"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
