<!-- Showcase 10 -->

<section class="showcase_10 bg_white padding_top80 padding_bottom50" id="news">
    <div class="container nopadding">
        <div class="row align-items-stretch">
            <div class="col-md-6 bottom30">
                <div class="height_full radius10 block_gray" style="background-image: url('./i/5_main.jpg');">
                    <div class="padding_sides60 max_width530 padding_top45 padding_bottom45 inner">
                        <div class="font28 font_second light dark_gray title">
                            Public Lab первая лаборатория для нужд киевлян
                        </div>
                        <div class="top20 font18 light hyphens text">
                            В Киеве состоялось открытие современной лаборатории химического анализа Public Lab

                            Лаборатория будет предоставлять доступные услуги по проведению всех видов анализов,
                            необходимых для контроля качества бытовой и питьевой воды, атмосферного воздуха и воздуха в доме
                        </div>
                        <a href="https://nv.ua/style/wness/health_wel/public-lab-persha-laboratorija-dlja-potreb-kijan-2484805.html"
                           target="_blank" class="top85 link green font12 uppercase semibold spacing10">Читати далі <i class="fa fa-angle-right left10"></i></a>
                    </div>
                </div>
            </div><div class="col-md-6 bottom30">
                <div class="height_full radius10 block_gray">
                    <div class="padding_sides60 max_width530 padding_top45 padding_bottom45 inner">
                        <div class="font28 font_second light dark_gray title">
                            ЧОМУ НЕОБХІДНО ЗНАТИ ПРО ВМІСТ НІТРАТІВ У ПИТНІЙ ВОДІ?
                        </div>
                        <div class="top20 font18 light text">
                            Нітрати здатні перетворюватися в нітрити. Це солі азотної кислоти.
                            Вони є небезпечними і можуть завдати непоправної шкоди людському організму.
                            Коли нітрити вступають в реакцію з…
                        </div>
                        <a href="#" class="top70 link green font12 uppercase semibold spacing10">Читати далі <i class="fa fa-angle-right left10"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bottom30">
                <div class="height_full radius10 white block_black">
                    <div class="padding_sides60 max_width530 padding_top45 padding_bottom45 inner">
                        <div class="font28 font_second light title">
                            У КИЄВІ ВІДБУЛОСЯ ВІДКРИТТЯ СУЧАСНОЇ ЛАБОРАТОРІЇ ХІМІЧНОГО АНАЛІЗУ PUBLIC LAB
                        </div>
                        <div class="top20 font18 light opacity7 text">
                            У Києві відбулося відкриття сучасної лабораторії хімічного аналізу Public Lab.
                            Лабораторія надаватиме доступні послуги із проведення всіх видів аналізів,
                            необхідних для контролю якості побутової та…						</div>
                        <a href="#" class="top70 link green font12 uppercase semibold spacing10">Читати далі <i class="fa fa-angle-right left10"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
