<!-- Feature 4 -->

<section class="feature_4 padding_top90 padding_bottom60">
    <div class="container nopadding">
        <h2 class="font42 light white text-center text-uppercase">Аналіз води</h2>
        <!--<div class="max_width570 margin_auto top35 font18 light white opacity7 text-center text text1">-->
        <!--Замовляйте перевірку швидко та зручно-->
        <!--</div>-->
        <div class="top65 flex justify_between inner">
            <div class="width370 padding_sides50 padding_top60 padding_bottom60 radius10 text-center margin_auto bottom50 block" data-aos="fade-up" data-aos-delay="0">
                <img src="./i/services/home-water.png" width="60" height="60">
                <div class="top25 font28 light white title">Аналіз побутової води &mdash; 800 грн.</div>
                <div class="top30 font18 light white opacity7 text text-justify">
                    Аналіз орієнтований на дослідження якості води господарсько-побутового призначення.
                    Цей тип аналізу застосовують для перевірки якості побутової води (у тому числі після фільтрації),
                    що надходить із системи міського водопостачання – водопроводу.
                    <!--Також є можливість проведення аналізу артезіанської води та води з колодязя (свердловини) та водойми.-->
                    <!--У цьому випадку додатково досліджують загальну забрудненість підземних вод,-->
                    <!--концентрацію усіх шкідливих речовин та здійснюють перевірку ефективності роботи фільтрів.-->
                </div>
                <a href="#packages-house-water" data-toggle="modal" data-target="#packages-house-water" class="top40 inline_block green link uppercase font12 semibold spacing15">Більше<i class="fa fa-angle-right font16 line_height22 left10"></i></a>
            </div>
            <div class="width370 padding_sides50 padding_top60 padding_bottom60 radius10 text-center margin_auto bottom50 block" data-aos="fade-up" data-aos-delay="100">
                <img src="./i/services/water.png" width="60" height="60">
                <div class="top25 font28 light white title">Аналіз питної води &mdash; 500 грн.</div>
                <div class="top30 font18 light white opacity7 text text-justify">
                    Повний хімічний аналіз питної води з визначення якості води зі свердловини,
                    колодязя, водопроводу та джерел. Гарантуємо доступ до результатів вже через 5-7 днів після збору.
                    В рамках пакету послуг команда спеціалістів визначає загальні показники безпечності...
                    <!--та-->
                    <!--якості питної води, експерти Public Lab надають рекомендації щодо поліпшення якості води,-->
                    <!--вибору фільтра або системи очищення, а також захисту води від забруднення.-->
                </div>
                <a href="#packages-water" data-toggle="modal" data-target="#packages-water" class="top40 inline_block green link uppercase font12 semibold spacing15">Більше<i class="fa fa-angle-right font16 line_height22 left10"></i></a>
            </div>
            <div class="width370 padding_sides50 padding_top60 padding_bottom60 radius10 text-center margin_auto bottom50 block" data-aos="fade-up" data-aos-delay="200">
                <img src="./i/services/out-water.png" width="60" height="60">
                <div class="top25 font28 light white title">Аналіз стічних вод &mdash; 850 грн.</div>
                <div class="top30 font18 light white opacity7 text text-justify">

                    Хімічний аналіз стічних вод підприємств, автозаправних станцій, автомийок і офісів.
                    Обладнання лабораторії надає змогу перевірити побутові та виробничі стічні води,
                    води зливової каналізації на відповідність вимогам
                    “Правил приймання стічних вод до систем централізованого водовідведення”.
                </div>
                <a href="#packages-out-water" data-toggle="modal" data-target="#packages-out-water" class="top40 inline_block green link uppercase font12 semibold spacing15">Більше<i class="fa fa-angle-right font16 line_height22 left10"></i></a>
                <!--<a href="#" class="top40 inline_block green link uppercase font12 semibold spacing15">View Samples <i class="fa fa-angle-right font16 line_height22 left10"></i></a>-->
            </div>
        </div>
    </div>
</section>
<div include-html="./templates/packages/modals/drink-water.html"></div>
<div include-html="./templates/packages/modals/house-water.html"></div>
<div include-html="./templates/packages/modals/out-water.html"></div>
