<!-- Feature 4 -->

<section class="feature_4 padding_top90 padding_bottom60">
    <div class="container nopadding">
        <h2 class="font42 font_second light white text-center">Пакети</h2>
        <!--<div class="max_width570 margin_auto top35 font18 light white opacity7 text-center text text1">-->
        <!--Замовляйте перевірку швидко та зручно-->
        <!--</div>-->
        <div class="top65 flex justify_between inner">
            <div class="width370 padding_sides50 padding_top60 padding_bottom60 radius10 text-center margin_auto bottom50 block" >
                <i class="fa fa-plus-square font60 white"></i>
                <div class="top25 font28 light white title">ПИТНА ВОДА</div>
                <div class="top30 font18 light white opacity7 text">
                    Послуга орієнтована, в першу чергу, на дослідження якості водопровідної,
                    бутильованої та артезіанської води призначеної для споживання людиною.
                    В рамках пакету послуг визначаються основні показники безпечності та якості питної води.
                </div>
                <a href="#packages-water" data-toggle="modal" data-target="#packages-water" class="top40 inline_block green link uppercase font12 semibold spacing15">Більше<i class="fa fa-angle-right font16 line_height22 left10"></i></a>
            </div>
            <div class="width370 padding_sides50 padding_top60 padding_bottom60 radius10 text-center margin_auto bottom50 block" data-aos="fade-up" data-aos-delay="100">
                <i class="fa fa-sliders font60 white"></i>
                <div class="top25 font28 light white title">ПОБУТОВА ВОДА</div>
                <div class="top30 font18 light white opacity7 text">
                    Орієнтований, насамперед, на дослідження якості води господарсько-побутового призначення.
                    Цей тип аналізу застосовується для перевірки якості побутової води (в тому числі після фільтрації),
                    що надходить із системи міського водопостачання – водопроводу.
                </div>
                <a href="#packages-house-water" data-toggle="modal" data-target="#packages-house-water" class="top40 inline_block green link uppercase font12 semibold spacing15">Більше<i class="fa fa-angle-right font16 line_height22 left10"></i></a>
            </div>
            <div class="width370 padding_sides50 padding_top60 padding_bottom60 radius10 text-center margin_auto bottom50 block" data-aos="fade-up" data-aos-delay="200">
                <i class="fa fa-asterisk font60 white"></i>
                <div class="top25 font28 light white title">ПОВІТРЯ В ОСЕЛІ</div>
                <div class="top30 font18 light white opacity7 text">
                    Даний пакет послуг підходить для перевірки якості повітря у Вашій оселі.
                    Ви дізнаєтесь, чим дихають Ваші близькі та знатимете, чи є у повітрі токсичні речовини,
                    які часто використовують під час виробництва меблів та дитячих іграшок (феноли, формальдегіди тощо).
                </div>
                <a href="#packages-house-air" data-toggle="modal" data-target="#packages-house-air" class="top40 inline_block green link uppercase font12 semibold spacing15">Більше<i class="fa fa-angle-right font16 line_height22 left10"></i></a>
                <!--<a href="#" class="top40 inline_block green link uppercase font12 semibold spacing15">View Samples <i class="fa fa-angle-right font16 line_height22 left10"></i></a>-->
            </div>
        </div>
    </div>
</section>
<div include-html="./templates/packages/modals/drink-water.html"></div>
<div include-html="./templates/packages/modals/house-water.html"></div>
<div include-html="./templates/packages/modals/house-air.html"></div>
