
<section class="content_36 bg_white padding_top60 padding_bottom60" id="partners">
    <div class="container nopadding">
        <div class="max_width770 margin_auto text-center">
            <h2 class=" light font42 dark_gray text-uppercase" data-aos="fade-down" data-aos-delay="0">Наші партнери</h2>
            <!-- <div class="top30 font18 light dark_gray text" data-aos="fade-up" data-aos-delay="100"></div> -->
        </div>
        <div class="top70 flex justify_between">
            <a href="https://kyivcity.gov.ua/" target="_blank">
                <div class="bottom30 width220 height160 flex justify_center align_center radius6 block" data-aos="fade-up" data-aos-delay="0">
                    <img src="i/logo/herb-kiev.png" alt="" height="100"/>
                </div>
            </a>

            <a href="https://www.kyivsmartcity.com" target="_blank">
                <div class="bottom30 width220 height160 flex justify_center align_center radius6 block" data-aos="fade-up" data-aos-delay="200">
                    <img src="i/logo/ksc.png" alt="" height="150"/>
                </div>
            </a>

            <a href="https://menr.gov.ua" target="_blank">
                <div class="bottom30 width220 height160 flex justify_center align_center radius6 block" data-aos="fade-up" data-aos-delay="300">
                    <img src="i/logo/menr.png" alt="" height="150"/>
                </div>
            </a>

            <a href="https://kyivgaz.ua/" target="_blank">
                <div class="bottom30 width220 height160 flex justify_center align_center radius6 block" data-aos="fade-up" data-aos-delay="0">
                    <img src="i/logo/logo-kievgaz.png" alt="" height="100"/>
                </div>
            </a>

            <a href="https://sg-charity.com/" target="_blank">
                <div class="bottom30 width220 height160 flex justify_center align_center radius6 block" data-aos="fade-up" data-aos-delay="100">
                    <img src="i/partner_fond.png" alt="" height="150"/>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- Content 35 -->

<!--<section class="content_35 bg_white padding_top120 padding_bottom50" id="partners">-->
    <!--<div class="container nopadding">-->
        <!--<div class="text-center max_width970 margin_auto text-center">-->
            <!--<div class="inline_block bottom50 width190">-->
                <!--<img srcset="i/demo_images/content_35_logo1.png 1x, i/demo_images/content_35_logo1_2x.png 2x"-->
                     <!--src="i/demo_images/content_35_logo1.png" class="max_width_full" alt="" />-->
            <!--</div>-->
            <!--<div class="inline_block margin_auto bottom50 width190">-->
                <!--<img srcset="i/demo_images/content_35_logo2.png 1x, i/demo_images/content_35_logo2_2x.png 2x" src="i/demo_images/content_35_logo2.png" class="max_width_full" alt="" />-->
            <!--</div>-->
            <!--<div class="inline_block margin_auto bottom50 width190">-->
                <!--<img srcset="i/demo_images/content_35_logo3.png 1x, i/demo_images/content_35_logo3_2x.png 2x" src="i/demo_images/content_35_logo3.png" class="max_width_full" alt="" />-->
            <!--</div>-->
            <!--<div class="inline_block margin_auto bottom50 width190">-->
                <!--<img srcset="i/demo_images/content_35_logo4.png 1x, i/demo_images/content_35_logo4_2x.png 2x" src="i/demo_images/content_35_logo4.png" class="max_width_full" alt="" />-->
            <!--</div>-->
            <!--<div class="inline_block margin_auto bottom50 width190">-->
                <!--<img srcset="i/demo_images/content_35_logo5.png 1x, i/demo_images/content_35_logo5_2x.png 2x" src="i/demo_images/content_35_logo5.png" class="max_width_full" alt="" />-->
            <!--</div>-->
            <!--<div class="inline_block margin_auto bottom50 width190">-->
                <!--<img srcset="i/demo_images/content_35_logo6.png 1x, i/demo_images/content_35_logo6_2x.png 2x" src="i/demo_images/content_35_logo6.png" class="max_width_full" alt="" />-->
            <!--</div>-->
            <!--<div class="inline_block margin_auto bottom50 width190">-->
                <!--<img srcset="i/demo_images/content_35_logo7.png 1x, i/demo_images/content_35_logo7_2x.png 2x" src="i/demo_images/content_35_logo7.png" class="max_width_full" alt="" />-->
            <!--</div>-->
            <!--<div class="inline_block margin_auto bottom50 width190">-->
                <!--<img srcset="i/demo_images/content_35_logo8.png 1x, i/demo_images/content_35_logo8_2x.png 2x" src="i/demo_images/content_35_logo8.png" class="max_width_full" alt="" />-->
            <!--</div>-->
            <!--<div class="inline_block margin_auto bottom50 width190">-->
                <!--<img srcset="i/demo_images/content_35_logo9.png 1x, i/demo_images/content_35_logo9_2x.png 2x" src="i/demo_images/content_35_logo9.png" class="max_width_full" alt="" />-->
            <!--</div>-->
            <!--<div class="inline_block margin_auto bottom50 width190">-->
                <!--<img srcset="i/demo_images/content_35_logo10.png 1x, i/demo_images/content_35_logo10_2x.png 2x" src="i/demo_images/content_35_logo10.png" class="max_width_full" alt="" />-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->
