
<!-- Call to Action 11 -->

<section class="call_to_action_11 bg_dark_gray padding_top45 padding_bottom45">
    <div class="container nopadding max_width970">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-9">
                <h2 class="font28 font_second light white max_width700">Замовте базовий пакет "Питна Вода" за акційной цінною <s>600 грн.</s> 480 грн.</h2>
            </div>
            <div class="col-lg-3 justify-content-right text-center text-lg-right">
                <a href="#" data-toggle="modal" data-target="#contactForm" class="btn red size60 padding_sides40 radius6">Детальніше</a>
            </div>
        </div>
    </div>
</section>
