<!-- Feature 8 -->

<section class="feature_8 bg_white padding_top110 padding_bottom60" id="services">
    <div class="container nopadding">
        <h2 class="font42 font_second light dark_gray text-lg-center bottom65">Наші послуги</h2>
        <div class="row">
            <div class="col-md-6 col-lg-6 bottom60 block" data-aos="fade-right" data-aos-delay="0">
                <img src="./i/svg/analysis.svg" width="40" height="40" class="float_left">
                <div class="left60 top10 inner">
                    <div class="font14 semibold spacing15 title">ХІМІЧНИЙ АНАЛІЗ ПОВІТРЯ</div>
                    <div class="top20 font18 light dark_blue hyphens text">
                        Лабораторія Public Lab проводить вимір якості повітря в офісних приміщеннях,
                        приватних будинках і квартирах багатоквартирних будинків.
                        Аналіз повітря в приміщенні передбачає визначення близько 500 органічних речовин,…
                    </div>
                    <a href="#" data-toggle="modal" data-target="#services1" class="top40 inline_block green link uppercase font12 semibold spacing15">Детальніше<i class="fa fa-angle-right font16 line_height22 left10"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 bottom60 block" data-aos="fade-left" data-aos-delay="0">
                <img src="./i/svg/water.svg" width="40" height="40" class="float_left">

                <div class="left60 top10 inner">
                    <div class="font14 semibold uppercase spacing15 title">АНАЛІЗ ЯКОСТІ ВОДИ</div>
                    <div class="top20 font18 light dark_blue hyphens text">
                        Аналіз води передбачає визначення стандартних хімічних,
                        мікробіологічних  показників, виявлення у воді  важких металів, нафтопродуктів,
                        пестицидів, фенолів, сульфатів, поверхнево-активних речовин (ПАР), ціанідів.
                        Лабораторія Public Lab проводить повний…
                    </div>
                    <a href="#" data-toggle="modal" data-target="#services2" class="top40 inline_block green link uppercase font12 semibold spacing15">Детальніше<i class="fa fa-angle-right font16 line_height22 left10"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 bottom60 block" data-aos="fade-right" data-aos-delay="100">
                <img src="./i/svg/ozone.svg" width="40" height="40" class="float_left">
                <div class="left60 top10 inner">
                    <div class="font14 semibold uppercase spacing15 title">ОЗОНУВАННЯ</div>
                    <div class="top20 font18 light dark_blue hyphens text">
                        З метою очищення, дезінфекції, видалення запахів та знезараження приміщень рекомендується проводити їх озонування.
                        Використання побутового або промислового озонатора повітря, що виробляє озон, дозволяє здійснити обробку…
                    </div>
                    <a href="#" data-toggle="modal" data-target="#services3" class="top40 inline_block green link uppercase font12 semibold spacing15">Детальніше<i class="fa fa-angle-right font16 line_height22 left10"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 bottom60 block" data-aos="fade-left" data-aos-delay="100">
                <img src="./i/svg/valve.svg" width="40" height="40" class="float_left">
                <div class="left60 top10 inner">
                    <div class="font14 semibold uppercase spacing15 title">АНАЛІЗ ЯКОСТІ ГАЗУ</div>
                    <div class="top20 font18 light dark_blue hyphens text">
                        Якість природного газу залежить від джерел його надходження
                        та фіксується відповідністю фізико-хімічним показникам газу (вимогам нормативних документів).
                        В Україні фізико-хімічні показники природного газу, що постачається…
                    </div>
                    <a href="#" data-toggle="modal" data-target="#services4" class="top40 inline_block green link uppercase font12 semibold spacing15">Детальніше<i class="fa fa-angle-right font16 line_height22 left10"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>

<div include-html="./templates/services/modals/ozonation.html"></div>
<div include-html="./templates/services/modals/analyze-gaz.html"></div>
<div include-html="./templates/services/modals/analyze-air.html"></div>
<div include-html="./templates/services/modals/analyze-water.html"></div>

