
<!-- Feature 1 -->

<section class="feature_1 bg_white padding_top100 padding_bottom85" id="options">
    <div class="container nopadding">
        <h2 class="font42 font_second light dark_gray text-center">Наші послуги</h2>
        <div class="top65 row inner">
            <div class="col-md-4 text-center bottom50 block" data-aos="fade-up" data-aos-delay="0">
                <a href="#" data-toggle="modal" data-target="#services1"
                   class="top40 inline_block green link uppercase font12 semibold spacing15">
                    <img src="./i/services/4.png" width="120" height="120">
                    <div class="top30 font28 light dark_gray title uppercase">хімічний аналіз повітря жилої зони</div>
                </a>
            </div>
            <div class="col-md-4 text-center bottom50 block" data-aos="fade-up" data-aos-delay="50">
                <a href="#" data-toggle="modal" data-target="#services10"
                   class="top40 inline_block green link uppercase font12 semibold spacing15">
                    <img src="./i/services/3.png" width="120" height="120">
                    <div class="top30 font28 light dark_gray title uppercase">хімічний аналіз повітря робочої зони</div>
                </a>
            </div>
            <div class="col-md-4 text-center bottom50 block" data-aos="fade-up" data-aos-delay="150">
                <a href="#" data-toggle="modal" data-target="#services2"
                   class="top40 inline_block green link uppercase font12 semibold spacing15">
                    <img src="./i/services/water.png" width="120" height="120">
                    <div class="top30 font28 light dark_gray title uppercase">хімічний аналіз питної води</div>
                </a>
            </div>
            <div class="col-md-4 text-center bottom50 block" data-aos="fade-up" data-aos-delay="200">
                <a href="#" data-toggle="modal" data-target="#services20"
                   class="top40 inline_block green link uppercase font12 semibold spacing15">
                    <img src="./i/services/out-water.png" width="120" height="120">
                    <div class="top30 font28 light dark_gray title uppercase">хімічний аналіз стічних вод</div>
                </a>
            </div>
            <div class="col-md-4 text-center bottom50 block" data-aos="fade-up" data-aos-delay="50">
                <a href="#" data-toggle="modal" data-target="#services3"
                   class="top40 inline_block green link uppercase font12 semibold spacing15">
                    <img src="./i/services/ozon.png" width="120" height="120">
                    <div class="top30 font28 light dark_gray title uppercase">озонування</div>
                </a>
            </div>
            <div class="col-md-4 text-center bottom50 block" data-aos="fade-up" data-aos-delay="50">
                <a href="#" data-toggle="modal" data-target="#services4"
                   class="top40 inline_block green link uppercase font12 semibold spacing15">
                    <img src="./i/services/2.png" width="120" height="120">
                    <div class="top30 font28 light dark_gray title uppercase">аналіз природного газу</div>
                </a>
            </div>
        </div>
    </div>
</section>

<div include-html="./templates/services/modals/ozonation.html"></div>
<div include-html="./templates/services/modals/analyze-gaz.html"></div>
<div include-html="./templates/services/modals/analyze-air.html"></div>
<div include-html="./templates/services/modals/analyze-air-work.html"></div>
<div include-html="./templates/services/modals/analyze-water.html"></div>
<div include-html="./templates/services/modals/analyze-water-out.html"></div>

