<!-- Team 3 -->
<section class="team_3 bg_white padding_top100 padding_bottom70" id="team">
    <div class="container nopadding text-center dark_gray">
        <h2 class="max_width570 margin_auto font42 light text-uppercase">Наша команда</h2>
        <div class="margin_auto top70 flex justify_between inner">
            <span class="width270  margin_auto bottom50 block">
                <img src="i/team/20.jpg" width="270" height="180" class="radius8" alt="" />
                <div class="top20 font22 light title">Кузнєцова Дарія</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Координатор лабораторії</div>
            </span>
            <!--<span class="width270  margin_auto bottom50 block">-->
                <!--<img src="i/team/21.jpg" width="270" height="180" class="radius8" alt="" />-->
                <!--<div class="top20 font22 light title">Ковпак Анна</div>-->
                <!--<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Менеджер з продажів</div>-->
            <!--</span>-->
            <span class="width270  margin_auto bottom50 block">
                <img src="i/team/22.jpg" width="270" height="180" class="radius8" alt="" />
                <div class="top20 font22 light title">Савіцький Денис</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Начальник лабораторії</div>
            </span>
            <span class="width270  margin_auto bottom50 block">
                <img src="i/team/23.jpg" width="270" height="180" class="radius8" alt="" />
                <div class="top20 font22 light title">Косілов Володимир</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Хімік-аналітик</div>
            </span>
            <span class="width270  margin_auto bottom50 block">
                <img src="i/team/24.jpg" width="270" height="180" class="radius8" alt="" />
                <div class="top20 font22 light title">Єрьоменко Оксана</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Хімік-аналітик</div>
            </span>
            <span class="width270  margin_auto bottom50 block">
                <img src="i/team/25.jpg" width="270" height="180" class="radius8" alt="" />
                <div class="top20 font22 light title">Касьянова Мирослава</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Хімік-аналітик</div>
            </span>
            <span class="width270  margin_auto bottom50 block">
                <img src="i/team/26.jpg" width="270" height="180" class="radius8" alt="" />
                <div class="top20 font22 light title">Колєснік Юлія</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Хімік-аналітик</div>
            </span>
            <!--<span class="width270  margin_auto bottom50 block">-->
                <!--<img src="i/team/27.jpg" width="270" height="180" class="radius8" alt="" />-->
                <!--<div class="top20 font22 light title">Гончаренко Тетяна</div>-->
                <!--<div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Хімік-хроматоргафіст</div>-->
            <!--</span>-->
            <span class="width270  margin_auto bottom50 block">
                <img src="i/team/28.jpg" width="270" height="180" class="radius8" alt="" />
                <div class="top20 font22 light title">Малішкевич Наталія</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Хімік-хроматоргафіст</div>
            </span>
            <span class="width270  margin_auto bottom50 block">
                <img src="i/team/29.jpg" width="270" height="180" class="radius8" alt="" />
                <div class="top20 font22 light title">Новик Анатолій</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue opacity3 text">Хімік-хроматоргафіст</div>
            </span>
        </div>
    </div>
</section>


<!--&lt;!&ndash; Team 4 &ndash;&gt;-->

<!--<section class="team_4 bg_white padding_top110 padding_bottom120" id="team">-->
    <!--<div class="container nopadding text-center dark_gray">-->
        <!--<h2 class="font42 font_second light">Наша команда</h2>-->
        <!--<div class="margin_auto top65 flex justify_between inner">-->
          <!--<a href="#" class="width370 margin_auto bottom80 block">-->
              <!--<img src="i/team/0.jpg" class="radius8" alt="" width="250" />-->
              <!--<div class="top25 font28 light title">Кузнецова Дарія</div>-->
              <!--<div class="top10 font12 semibold uppercase spacing10 dark_blue">Координатор</div>-->
              <!--<div class="margin_auto top20 max_width270 font14 light dark_blue text text-justify">-->
                  <!--Координатор проекту Public Lab-->
              <!--</div>-->
          <!--</a>-->
          <!--<a href="#" class="width370 margin_auto bottom80 block">-->
              <!--<img src="i/team/1.png" class="radius8" alt="" width="250" />-->
              <!--<div class="top25 font28 light title">Колесник Юлія</div>-->
              <!--<div class="top10 font12 semibold uppercase spacing10 dark_blue">Хімік-органік</div>-->
              <!--<div class="margin_auto top20 max_width270 font14 light dark_blue text text-justify">-->
                  <!--Хімік-органік, спеціаліст з відбору проб води.-->
              <!--</div>-->
          <!--</a>-->
            <!--<a href="#" class="width370 margin_auto bottom80 block">-->
                <!--<img src="i/team/2.png" class="radius8" alt="" width="250" />-->
                <!--<div class="top25 font28 light title">Савіцький Денис</div>-->
                <!--<div class="top10 font12 semibold uppercase spacing10 dark_blue">Провідний інженер</div>-->
                <!--<div class="margin_auto top20 max_width270 font14 light dark_blue text  text-justify">-->
                    <!--Провідний інженер лабораторії з 2018 року.-->
                <!--</div>-->
            <!--</a>-->
            <!--<a href="#" class="width370 margin_auto bottom80 block">-->
                <!--<img src="i/team/3.png" class="radius8" alt="" width="250" />-->
                <!--<div class="top25 font28 light title">Гончаренко Тетяна</div>-->
                <!--<div class="top10 font12 semibold uppercase spacing10 dark_blue">Хімік-аналітик</div>-->
                <!--<div class="margin_auto top20 max_width270 font14 light dark_blue text text-justify">-->
                    <!--Спеціаліст з аналізу газоповітряних сумішей.-->
                <!--</div>-->
            <!--</a>-->
            <!--&lt;!&ndash; <a href="#" class="width370 margin_auto bottom80 block">-->
                <!--<img srcset="i/demo_images/team_4_foto4.jpg 1x, i/demo_images/team_4_foto4_2x.jpg 2x" src="i/demo_images/team_4_foto4.jpg" class="radius8" alt="" />-->
                <!--<div class="top25 font28 light title">Хребтова Марія</div>-->
                <!--<div class="top10 font12 semibold uppercase spacing10 dark_blue">Хімік-хроматографіст</div>-->
                <!--<div class="margin_auto top20 max_width270 font14 light dark_blue text">-->
                    <!--Хімік-хроматографіст, спеціаліст із аналізу газоповітряних сумішей,-->
                    <!--одоризації природного газу та аналізу якості природного газу.-->
                    <!--Закінчила хімічний факультет Донецького національного технічного університету.-->
                    <!--З 2015 року працювала хіміком у лабораторії виробництва ізовалеріанової кислоти.-->
                <!--</div>-->
            <!--</a>-->
            <!--<a href="#" class="width370 margin_auto bottom80 block">-->
                <!--<img srcset="i/demo_images/team_4_foto5.jpg 1x, i/demo_images/team_4_foto5_2x.jpg 2x" src="i/demo_images/team_4_foto5.jpg" class="radius8" alt="" />-->
                <!--<div class="top25 font28 light title">Новик Анатолій</div>-->
                <!--<div class="top10 font12 semibold uppercase spacing10 dark_blue">Writer</div>-->
                <!--<div class="margin_auto top20 max_width270 font14 light dark_blue text">-->
                    <!--Хімік-хроматографіст, спеціаліст з аналізу газоповітряних сумішей,-->
                    <!--одоризації та аналізу якості природного газу.-->
                    <!--Закінчив хімічний факультет Київського національного університету ім. Тараса Шевченка.-->
                    <!--Працює інженером у лабораторії з 15 травня 2007 року.-->
                <!--</div>-->
            <!--</a> &ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;<a href="#" class="btn size50 transparent_blue border border_blue radius6 padding_sides25">Start Work with Us</a>&ndash;&gt;-->
    <!--</div>-->
<!--</section>-->
