<!-- Team 4 -->

<section class="team_4 bg_white padding_top110 padding_bottom120" id="team">
    <div class="container nopadding text-center dark_gray">
        <h2 class="font42 font_second light">Наша команда</h2>
        <div class="margin_auto top65 flex justify_between inner">
          <a href="#" class="width370 margin_auto bottom80 block">
              <img src="i/team/1.png" class="radius8" alt="" />
              <div class="top25 font28 light title">Колесник Юлія</div>
              <div class="top10 font12 semibold uppercase spacing10 dark_blue">Хімік-органік</div>
              <div class="margin_auto top20 max_width270 font14 light dark_blue text">
                  Хімік-органік, спеціаліст з відбору проб води.
                  Закінчила хімічний факультет Одеського національного політехнічного університету.
                  У 2013-2017 рр. працювала лаборантом хімічного аналізу лабораторії цехів
                  перевантаження хімічної продукції на Одеському припортовому заводі.
                  Працює інженером лабораторії з квітня 2018 року.
              </div>
          </a>
            <a href="#" class="width370 margin_auto bottom80 block">
                <img src="i/team/2.png" class="radius8" alt="" />
                <div class="top25 font28 light title">Савіцький Денис</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue">Провідний інженер</div>
                <div class="margin_auto top20 max_width270 font14 light dark_blue text">
                    Провідний інженер лабораторії з 2018 року. Хімік-аналітик, спеціаліст із
                    аналізу твердого та рідкого палива, водних та газових середовищ.
                    Закінчив хімічний факультет Чернівецького Національного університету.
                </div>
            </a>
            <a href="#" class="width370 margin_auto bottom80 block">
                <img src="i/team/3.png" class="radius8" alt="" />
                <div class="top25 font28 light title">Гончаренко Тетяна</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue">Хімік-аналітик</div>
                <div class="margin_auto top20 max_width270 font14 light dark_blue text">
                    Спеціаліст з аналізу газоповітряних сумішей,
                    одоризації природного газу та аналізу якості природного газу.
                </div>
            </a>
            <!-- <a href="#" class="width370 margin_auto bottom80 block">
                <img srcset="i/demo_images/team_4_foto4.jpg 1x, i/demo_images/team_4_foto4_2x.jpg 2x" src="i/demo_images/team_4_foto4.jpg" class="radius8" alt="" />
                <div class="top25 font28 light title">Хребтова Марія</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue">Хімік-хроматографіст</div>
                <div class="margin_auto top20 max_width270 font14 light dark_blue text">
                    Хімік-хроматографіст, спеціаліст із аналізу газоповітряних сумішей,
                    одоризації природного газу та аналізу якості природного газу.
                    Закінчила хімічний факультет Донецького національного технічного університету.
                    З 2015 року працювала хіміком у лабораторії виробництва ізовалеріанової кислоти.
                </div>
            </a>
            <a href="#" class="width370 margin_auto bottom80 block">
                <img srcset="i/demo_images/team_4_foto5.jpg 1x, i/demo_images/team_4_foto5_2x.jpg 2x" src="i/demo_images/team_4_foto5.jpg" class="radius8" alt="" />
                <div class="top25 font28 light title">Новик Анатолій</div>
                <div class="top10 font12 semibold uppercase spacing10 dark_blue">Writer</div>
                <div class="margin_auto top20 max_width270 font14 light dark_blue text">
                    Хімік-хроматографіст, спеціаліст з аналізу газоповітряних сумішей,
                    одоризації та аналізу якості природного газу.
                    Закінчив хімічний факультет Київського національного університету ім. Тараса Шевченка.
                    Працює інженером у лабораторії з 15 травня 2007 року.
                </div>
            </a> -->
        </div>
        <!--<a href="#" class="btn size50 transparent_blue border border_blue radius6 padding_sides25">Start Work with Us</a>-->
    </div>
</section>
