
<!--<section class="bg_white padding_top95 ">-->
	<!--<div class="container nopadding">-->
		<!--<div class="margin_auto radius8 video" data-ratio="16/9" style="width: 50%">-->
			<!--<div class="youtube-embed"><iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/06tKPiu6Ah0?ecver=1&amp;iv_load_policy=1&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red&amp;width=560&amp;width=560" width="560" height="315" allowtransparency="true" frameborder="0"><div><a  id="E5Sxt0pB" href="https://www.sellcompare.co.uk/about-us"></a></div><script type="text/javascript">function execute_YTvideo(){return youtube.query({ids:"channel==MINE",startDate:"2018-01-01",endDate:"2018-12-31",metrics:"views,estimatedMinutesWatched,averageViewDuration,averageViewPercentage,subscribersGained",dimensions:"day",sort:"day"}).then(function(e){},function(e){console.error("Execute error",e)})}</script></iframe></div>-->
			<!--<div class="radius8 poster">-->
				<!--<div class="play red"><i class="fas fa-play"></i></div>-->
			<!--</div>-->
			<!--<video controls>-->
				<!--<source src="video/video1.mp4" type="video/mp4">-->
			<!--</video>-->
		<!--</div>-->
	<!--</div>-->
<!--</section>-->

<!-- Call to Action 6 -->

<section class="call_to_action_6 padding_top90 padding_bottom90" style="background-image: url('./i/video_tmb.png')">
	<div class="container nopadding text-center white height_full">
		<div class="flex align_center height_full">
			<div class="margin_auto font28 light line_height70 text padding_top110 padding_bottom110">
				Як ми працюємо?
				<a href="https://www.youtube.com/embed/BdlCC208w0c?rel=0&showinfo=0" target="_blank" class="sides75 btn red play_popup_video"><i class="fa fa-play"></i></a>
				Дивитися відео
			</div>
		</div>
	</div>
</section>